<div class='col-md-4'>
  <div class='card mb-4'>
    <div class='card-header' style='transform: rotate(0)'>
      <%= image_tag(game.cover, class:'bg-placeholder-img card-img-top my-3') if game.cover.attached? %>
      <%= link_to game.name, game_path(game.id), class: 'text-dark font-weight-bold text-lg stretched-link' %>
    </div>
    <div class='card-body'>
      <% if game.stocks.size.positive? %>
        <p class='card-text' style='transform: rotate(0)'>Only Need <%= game.lowest_price %>!
          <%= link_to 'Buy Now', add_cart_path(game_id: game.id), method: 'post', remote: true, class: 'btn btn-outline-primary ml-5 stretched-link' %>
        </p>
      <% else %>
        <p class='card-text text-danger'>Sorry Out Of Stock!</p>
      <% end %>
    </div>
  </div>
</div>