<section class='text-center mb-5'>
  <div class='container'>
    <h1>Here to Buy Next Game, Bro!</h1>
  </div>
</section>

<div class='container bg-light py-5'>
  <div class='row'>
    <%= render partial: 'game', collection: @games %>
  </div>
</div>